.settings {
    display: flex;
    align-items: center;

    &__option {
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
    }

    &__radio {
        font-size: 50px;
        display: flex;
        justify-content: start;
        align-items: center;
    }

    &__quantity {
        font-size: 50px;
        font-weight: 900;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 5px;
        color: hotpink;
    }

    &__option-name {
        font-size: 40px;
        font-weight: 700;
        color: rgb(26, 131, 223);
    }
}